<div class="container" id="errorWarnBox">
    {{#each errorMessages}}
        <h4><span class="label label-danger">{{this.errorMessage}}</span></h4>
    {{/each}}
    <h4><span class="label label-info">{{queueMessage}}</span></h4>
    <h4><span class="label label-danger">{{errorMessageTimeframe}}</span></h4>
</div>
<div class="col-sm-8 offset-sm-2">
    <div class="card mt-sm-2">
        <form action="/bulkload/upload" method="post" enctype="multipart/form-data">
          <div class="card-header" id="fixedHeader" style="background-color: #a0c0db">
            <label style="color: #fcfcfc">Upload CSV File</label>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="hostName">Host</label>
              <input type="text" class="form-control" name="hostName" value="na5.thunderhead.com">
            </div>
            <div class="form-group">
              <label for="siteKey">Site Key </label>
              <input type="text" class="form-control" name="siteKey" value="ONE-KOYD9GHLZA-5421">
            </div>
            <div class="form-group">
              <label for="touchpoint">Touchpoint</label>
              <input type="text" class="form-control" name="touchpoint" value="assist://callcenter/call">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" class="form-control-file" id="scenarioFile" name="uploads" aria-describedby="fileHelp">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </div>
          <div class="card-footer">
            <input type="submit" class="btn btn-primary btn-block form-control" value="Upload">
          </div>
        </form>
        <br>
    </div>
</div>